.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9AD0C2;
    border-radius: 20px;
    padding: 1.5rem;
    width: 320px;
    min-height: 160px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card:hover{
    transform: rotateZ(1deg) rotateY(10deg) scale(1.1);
    box-shadow: 0 1em 1em #006E8C;
}

.info {
    z-index: 1;
    max-width: 60%;
    color: black;
}

.info h2 {
    margin-bottom: 0.5rem;
    color: black;
    font-style: bold;
}

.icon {
    opacity: 0.5;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.icon img {
    width: 160px;
    height: auto;
}