.header {
    height: 118px;
    background-color: #1e4e79;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header button {
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.header h1{
    margin-left: 40%;
    font-size: 40px;
}

.actions>* {
    margin-left: 1rem;
    cursor: pointer;
}